@import "tailwindcss";

@theme {
  --color-primary: #198038;
  --color-primary-dark: #125A27;
  --color-text: #161616;
  --color-background: #FAFAFA;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}
